.ui-jqgrid tr.jqgrow td {
    height: auto;
}

.globalTable {
    width: 100%;
}

.header {
    background: #F6A828;
    font-size: 0.8em;
}

.logForm {
    font-size: 0.8em;
}

.auth {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.catalog {
    text-align: left;
    vertical-align: top;
    width: 350px;
}

.grid {
    text-align: left;
    vertical-align: top;
}

.headerBoxLeft {
    display: inline-block;
    margin: 5px;
}

.headerEmptyBlock {
    width: 370px;
    display: inline-block;
}

.headerBoxCenter {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.headerBoxRight {
    display: inline-block;
    float: right;
    margin: 5px;
}

.err_msg {

}

.form-div {
    width: 400px;
}

.form-label {
    display: block;
}

.mainCat {
    margin: 0;
    padding: 0;
    width: 122px;
    border: solid 1px #537DBC;
    display: block;
}

.mainCat li {
    background-color: #F6A828;
    width: auto;
    border: solid 1px #537DBC;
    z-index: 200;
}

.mainCat li > ul {
    display: block;
    position: absolute;
    left: 120px;
    top: -10px;
}

ul.mainCat li ul {
    margin: 0;
    padding: 0;
    display: none;
    border: solid 1px #537DBC;
    width: 220px;
}

ul.mainCat li {
    list-style: none;
    display: block;
    position: relative;
}

ul.mainCat li a {
    background-color: #F6A828;
    color: #FFFFFF;
    padding: 10px;
    display: block;
}

ul.mainCat li:hover > a {
    background-color: #B77F1D;
}

ul.mainCat li:hover > ul {
    display: block;
    position: absolute;
    left: 120px;
    top: -10px;
}

ul.subCat li:hover > ul {
    left: 218px;
}
